{% extends 'base_bootstrap.html' %}

{% block header %}
    {{ super() }}
    <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock%}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" type="text" class="form-control" id="title" placeholder="Enter Title"   value="{{ request.form['title']}}" required>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea name="body" class="form-control" id="body">{{ request.form['body'] }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock%}